.product-list {
  background: #fff;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.product {
  border-bottom: solid 1px #CFD8DC;
  padding: 10px;
  vertical-align: middle;
}
.product .p-controls {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  position: relative;
  -webkit-transition: background 0.3s ease-out;
  -moz-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}
.product .p-info {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  padding: 0 15px;
  box-sizing: border-box;
}

.product .p-info h2 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #212121;
}
.product .p-image {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}
.product .p-image img {
  width: 100%;
  height: auto;
}
.product .p-controls.no-added .remove-cart{
  display: none;
}
.product .p-controls.no-added .p-qcontrols{
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.product .p-controls.added .p-qcontrols{
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.product .p-controls.added .remove-cart{
  display: block;
}
.product .p-controls.added .add-cart{
  display: none;
}

.product .p-controls .add-cart,
.product .p-controls .remove-cart {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(/assets/cart-plus.png) no-repeat center center, #FF5722;
  background-size: 25px 25px, 100%;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 25px;
  overflow: hidden;
  text-indent: -999px;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%); 
  -ms-transform: translateY(-50%); 
  transform: translateY(-50%);
  -webkit-transition: background 0.3s ease-out;
  -moz-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}
.product .p-controls .add-cart:focus,
.product .p-controls .remove-cart:focus {
  outline: none;
  border: none;
}

.product .p-controls .remove-cart {
  background: url(/assets/delete.png) no-repeat center center, #FF5722;
  background-size: 25px 25px, 100%;
}
.product .p-controls .p-qcontrols {
  width: 50px;
  position: absolute;
  right: 80px;
  top: 50%;
  -webkit-transform: translateY(-50%); 
  -ms-transform: translateY(-50%); 
  transform: translateY(-50%);
}
.product .p-controls .p-qcontrols button.change-cart {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  margin: 5px 0;
  width: 100%;
  height: 30px;
  border-color: transparent;
  background: #607D8B;
  color: #fff;
  font-size: 25px;
  line-height: 15px;
  text-align: center;
  padding: 0;
}
.product .p-controls .p-qcontrols button.change-cart:focus {
  outline: none;
  background: #CFD8DC;
}
.product .p-controls .p-qcontrols .p-number {
  color: #455A64;
  padding: 5px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
}



