.store-wrapper {
  
}

.store-wrapper .store-header {
  background: #455A64;
  display: table;
  width: 100%;
  color: #fff;
  text-align: center;
}

.store-wrapper .store-header .store-logo {
  width: 80px;
  height: 80px;
  float: left;
  margin-left: 15px;
}


